 .favoritos-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
} 

.favoritos-item{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   padding: 0 50px;
}

.favoritos-item h3{
    margin-left: 30px;
}

.favoritos-item-btn{
    display: flex;
}

.favoritos-item-btn button{
    width:90px;
    height: 40px;
    margin: 15px;
}

@media screen and (max-width: 768px) {
    /* Adjust padding for smaller screens */
    .favoritos-item {
        padding: 0 20px;
        flex-direction: column;
    }

    /* Margin for h3 on smaller screens */
    .favoritos-item h3 {
        margin-left: 10px;
    }

    /* Adjust button margin for smaller screens */
    .favoritos-item-btn button {
        margin: 10px;
    }
}