.footer {
    background-color: #e0e0e05e; 
    padding: 20px;
    text-align: center;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.social-logos {
        margin-top: 10px;
}
  
.social-logos a {
    margin: 0 10px; /* Espaçamento entre os ícones/link */
    text-decoration: none;
    color: #333; /* Cor do link */
}
  
.social-logos a:hover {
    color: #007bff; /* Cor do link ao passar o mouse (pode ajustar conforme necessário) */
}

